
/* All styling is related to the black bar at the top*/

/* Sizing, positioning and coloration of the top bar */
ul { 
    z-index: 1;  
    list-style-type:none;
    margin: 0;
    padding: 0;
    left: 0;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100px;
}
  
/* Header link styling */
li header{ 
    float: right;
    text-decoration: none;    
}
  
/* Header positioning, appearance and sizing */
header{ 
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 90px;
    position: absolute;
    top:-10px;
    right: 33%;
    color: aliceblue;
    padding: 5px 10px 10px 10px;
    transition: 0.5s;
}
header:hover{
    color: burlywood;
}

/* Preview button positioning, appearance and sizing */
#preview{
    padding: 10px 10px;
    color: white;
    text-decoration: none;
    float: left;
    margin-top: 40px;
    margin-right: 10px;
    font-size: 25px;
    position: sticky;
    transition: 0.5s;
}
#preview:hover{
    transition: 0.2s;
    color: burlywood;
    font-size: 30px;
}

/* Menu button positioning, appearance and sizing */
#menu_button{
    padding: 10px 10px;
    color: white;
    text-decoration: none;
    float: left;
    margin-top: 40px;
    margin-left: 120px;
    font-size: 25px;
    position: sticky;
    transition: 0.5s;
}
#menu_button:hover{
    transition: 0.2s;
    color: burlywood;
    font-size: 30px;
}

/* About & contact positioning, appearance and sizing */
#about_contact{
    float: right;
    text-decoration: none;
    color: white;
    padding: 10px 10px 10px 10px;
    margin-top: 40px;
    font-size: 25px;
    right:125px;
    position:sticky;
    transition: 0.5s;
}
#about_contact:hover{
    transition: 0.2;
    color: burlywood;
    font-size: 30px;
}

/* Styling all content for screens with width < 1100px */
@media screen and (max-width: 1100px) {
    #about_contact {margin-top: 10px; left: 600px; font-size: 14px; float: right;}
    #about_contact:hover {font-size: 15px;}
    #menu_button {margin-top: 10px; margin-left:50px;font-size: 14px;}
    #menu_button:hover {font-size: 16px;}
    header{font-size: 45px; text-align: right; padding: 5px 5px; margin-right: -50px;}
    ul {height: 50px;}   
    #preview {margin-top: 10px; margin-left: 0px; font-size: 14px;}
    #preview:hover {font-size: 16px;}
}

/* Styling all content for screens with height < 510px */
@media screen and (max-height: 510px) {
    ul {height: 50px;}
    #about_contact {margin-top: 10px; font-size: 14px;}
    #about_contact:hover{font-size: 18px;}
    #menu_button {margin-top: 10px; font-size: 14px;}
    #menu_button:hover {font-size: 18px;}
    header {font-size: 50px; margin-top: 0;}
    #preview {margin-top: 10px; font-size: 14px;}
    #preview:hover {font-size: 18px;}
}

/* Styling all content for screens with width > 1300px */
@media screen and (min-width: 1300px){
    header {left:38%;}
    #about_contact {right: 200px;}
}


