/* The sidebar menu */
.sidebar {
    height: 100%; 
    width: 0; /* changes with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 3; 
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0); 
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
    opacity: 1;
  }
  
  /* The sidebar links */
  .sidebar a { 
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #747171;
    display: block;
    transition: 0.3s; /* Transition to hover effect */
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    color: aliceblue;
    font-size: 30px;
  }
  
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position:relative;
    top: 0;
    left: 25px;
    font-size: 36px;
    margin-right: 50px;
  }
  
  /* The button used to open the sidebar */
  .openbtn {
    font-size: 30px;
    cursor: pointer;
    color: aliceblue;
    background-color: black;
    padding: 5px 5px;
    border: none;
    animation: 4s fadeIn;
    z-index: 2;
    margin-top: 10px;
    position: fixed;
    margin-left: 23px;
    border-radius: 50px/40px;
    transition: 0.5s;
}

/* Hover effect on hover of button */
.openbtn:hover{
    color: burlywood;
}
/* For opnening the sidebar */
#main {
    transition: margin-right .5s; /* Transition effect */
    padding: 20px;
}

/*
Sidebars .bar1 and .bar2 helped with aligning the navigation arrows
Will not be visible. */
.bar1{
    height: 100%;
    width: 130px; 
    position: fixed;
    z-index: 1; 
    top: 0;
    right: 0;
    background-position: right;
    background-color: rgb(0, 0, 0); 
    overflow-x: hidden; 
    opacity: 0.9;
    display: none; /* Hidden */
}

.bar2{
    height: 100%; 
    width: 130px; 
    position: fixed; 
    z-index: 1; 
    top: 0;
    left: 0;
    background-position: left;
    background-color: rgb(0, 0, 0); 
    overflow-x: hidden; 
    opacity: 0.9;
    display: none; /* Hidden */
}

/* Styles all sidebar content for screens with width < 1100px */
@media screen and (max-width:1100px) {
    .bar1 {display: none;}
    .bar2 {display:none;}
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
    .openbtn {font-size: 15px; padding: 5px 5px; margin-top: -15px; margin-left: 0px;}
    .sidebar a:hover {font-size: 25px;}
    .openbtn:hover {font-size: 18px;}
}

/* Styles all sidebar content for screens with height < 510px */
@media  screen and (max-height:510px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
    .sidebar a:hover {font-size: 20px;}
    .openbtn {font-size: 18px; padding: 5px 5px; margin-top: -15px;margin-left: 0px;}
    .bar1 {display: none;}
    .bar2 {display: none;}
}

/* Styles all sidebar content for screens with width > 1300px */
@media screen and (min-width: 1300px){
    .sidebar a {font-size: 30px;}
    .sidebar a:hover {font-size: 40px;}
    .openbtn {left: 18px;}
}
