@keyframes fadeIn{
    0% {opacity: 0}
    100% {opacity: 1;}
}
html{
    scroll-behavior: smooth;
}

body{
    animation: fadeIn 2s;
    background-color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.all{
    margin-top: -370px;
    background-color: rgb(0, 0, 0);
    width: 55%;
    text-align: left;
    margin-left: 7%;
    padding: 0;
    border: none;
}
h1{
    color: white;
    font-size: 30px;
}

.all > h1, .q1 {
    margin: 10px;
    padding: 5px;
}
.q1 > h2, p{
    margin: 5px;
    padding: 5px;
}
.all > h1, .q2 {
    margin: 10px;
    padding: 5px;
}
.q2 > h2, p{
    margin: 5px;
    padding: 5px;
}

.q1{
    border-radius: 10px/10px;
    background: white;
}

.q2{
    border-radius: 10px/10px;
    background: white;
}
a header{
    color: aliceblue;
    font-size: 60px;
    padding:0;
    position: relative;
    margin-top: 30px;
    float: right;
    margin-right: 100px;
    z-index: 3;
    
}
header{
    transition: 0.5s;
}
header:hover{
    color: burlywood;
 
}
footer{
    display: block;
    color: rgb(0, 0, 0);
    text-align: left;
    background-color: rgb(183, 181, 181);
    border-radius: 10px/10px;
    height: 180px;
    margin-top:200px;
    padding: 10px 10px 10px 10px;
}
a{
    text-decoration: dashed;
}
footer h4{
    margin-top: 20px;
}
footer a {
    color: rgb(0, 0, 0);
    padding: 10px;
    text-decoration: underline;
    padding: 5px 5px 5px 5px;
}
#ref_images {
    padding: 10px;
    text-align: center;
    margin-top: -190px;
}


.slider1{
    width: 400px;
    height: 200px;
    background-color: rgb(0, 0, 0);
    margin-left: 65%;
    right: 0;
    top:0;
    margin-top: 15%;
    text-align:center;
    overflow: hidden;
    padding: 2px;
    border-radius: 10px/10px;
  }

.slider2{
    width: 400px;
    height: 200px;
    background-color: rgb(0, 0, 0);
    margin-left: 65%;
    right: 0;
    margin-top: -320px;
    text-align:center;
    overflow: hidden;
    padding: 2px;
    border-radius: 10px/10px;
}

  .image-container {
    width: 1500px;
    background-color: rgb(255, 255, 255);
    height: 200px;
    right: 0;
    clear: both;
    position: relative;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    transition: left 2s;
  }
  .slide {
    float: left;
    margin: 0px;
    padding: 0px;
    position: relative;
    
}
.buttons {
    position: relative;
    top: -20px;
    
}
.buttons a {
    font-size: 14px;
    text-decoration: none;
    color: aliceblue;
    display:inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background-color: rgb(0, 0, 0);
    transition: 0.5s;
}
.buttons a:hover{
    color: black;
    font-size: 20px;
    width: 20px;
    height: 20px;
    background-color: rgb(255, 255, 255);
}

#slide-1:target ~ .image-container {
    left: 0px;
}
#slide-2:target ~ .image-container {
    left: -400px;
}
#slide-3:target ~ .image-container {
    left: -800px;
}
 
#slide-1, #slide-2, #slide-3{
    position: relative;
    top: -300px;
}

#slide-4:target ~ .image-container {
    left: 0px;
}
#slide-5:target ~ .image-container {
    left: -400px;
}
#slide-6:target ~ .image-container {
    left: -700px;
}
 
#slide-4, #slide-5, #slide-6{
    position: relative;
    top: -250px;
}

@media screen and (max-width:900px){
    a header {font-size: 20px;}
    footer a {font-size: 10px;}
}


