#background_left{
    background-image: linear-gradient(rgba(121, 105, 105, 0.5), rgba(5, 6, 5, 0.5)), 
    url("https://cdn.pixabay.com/photo/2017/01/26/02/06/platter-2009590__480.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;   
   /* border: 5px solid blue;*/
    width: 30%;
    left: 0px;
}
#background_right{
    background-image: linear-gradient(rgba(121, 105, 105, 0.5), rgba(5, 6, 5, 0.5)), 
    url("https://cdn.pixabay.com/photo/2016/08/11/23/48/mountains-1587287_1280.jpg");
    height: 100%;
    background-position: right;
    background-repeat: no-repeat;
    background-size:cover;
    position: fixed;   
    /*border: 5px solid red; */
    width: 70%;
    right: 0px;
    flex: content;
}
p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#catchphrase{
    text-align: left;
    padding: 10px;
    margin-top: -5px;
    margin-left: 20px;
    font-size: large;
    width: 600px;
}

#rating_img{
    height: 100px;
    width: 100px;
    border-radius: 70%;
}
#rating_text{
    font-family:fantasy;
    color: aliceblue;
    text-align: inherit;

}
#rating_figure{
    position: absolute;
    align-content: left;
    padding: 5px;
    bottom: 10px;
    text-align: center;
}
body{
    overflow-y: hidden;
    background-color: #111;
}
header{
    font-family:monospace;
    font-size: 70px;
    text-align: left;
    position: relative;
    top:auto;
    margin-left: 20px;
}

/* The sidebar menu */
.sidebar {
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0;
    left: 0;
    background-color: #111; 
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s; 
  }
  
  /* The sidebar links */
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #574d4d;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    color: #9f1111;
  }
  
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position:relative;
    top: 0;
    left: 25px;
    font-size: 36px;
    margin-right: 50px;
  }
  
  /* The button used to open the sidebar */
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    color: rgb(109, 106, 106);
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #9f1111;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }


